/*
* CSS Reset 
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*INherits from body border-box*/
  box-sizing: inherit;
}

/* 1 rem is = 1 root font size */
/* defaault font size is 16px, so using percentage you get 100% of 16px. */
/* to use 10px, 10/16 = 0.625 
   to check 0.625*16 = 10
*/
html {
  font-size: 62.5%;
}

/* Always specifiy the font in Body element. */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;

  /* 30 px converted to 3 rem, root is 10px. */
  padding: 3rem;

  box-sizing: border-box;
}
